{% extends 'base.html.twig' %}

{% block title %}Proyectos{% endblock %}

{% block body %}

<div class="container mx-auto my-4">
    <h1 class="text-4xl leading-10 text-green-900 font-light p-4">
        Mis proyectos
    </h1>

    {% if app.user.isVerified %}
        <h2 class="text-2xl leading-10 text-green-900 font-extralight p-4">
            Proyectos en curso
        </h2>
        <ul>
            {% for proyecto in proyectos %}
                <li class="table-row">
                    <div class="table-cell">
                        <a class="text-blue-400 font-bold" href="{{ path('proyecto_show', {'id': proyecto.id}) }}">
                            {{ proyecto.titulo }}
                        </a>
                    </div>
                </li>
            {% else %}
                <div class='table-row'>
                    <div colspan="3" class="table-cell border p-2 text-2xl font-extralight text-red-700">
                        No hay proytectos en curso
                    </div>
                </div>
            {% endfor %}
        </ul>

        <div class="my-4">
            <a href="{{ path('proyecto_index') }}" class="my-4 p-4 border rounded shadow bg-green-300">
                Ir al listado completo de proyectos
            </a>
        </div>
    {% else %}
        <div class="font-light bg-red-100 border border-red-900 text-red-900 text-4xl p-4 text-center">
            <p>Por favor verifique su correo electrónico para poder usar la aplicación. Las instrucciones se enviaron a la dirección registrada</p>
            <a href="{{ path('app_resend_verify_email') }}" class="font-bold text-blue-400"> Volver a enviar</a>
        </div>
    {% endif %}
</div>
{% endblock %}
