{% extends 'base.html.twig' %}

{% block title %}Proyectos{% endblock %}

{% block body %}

<div class="container mx-auto my-4">
    <h1 class="text-4xl leading-10 text-green-900 font-light p-4">
        Mis proyectos
    </h1>

    <div>TO DO: Lista de proyectos</div>

    <button>
      Empezar un proyecto nuevo
    </button>
</div>
{% endblock %}
