<form
  method="post"
  action="{{ path('tarea_delete', {'id': tarea.id, 'proyecto': proyecto.id}) }}"
  onsubmit="return confirm('¿Está seguro que quiere abortar esta tarea?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tarea.id) }}">
    <button class="my-4 p-4 border rounded shadow bg-red-300">Abortar tarea</button>
</form>
