<h1>Hola. Por favor confirme su correo electr贸nico</h1>

<p>
    Por favor confirme su direcci贸n de correo electr贸nico usando el siguiente enlace: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmar mi correo electr贸nico</a>.
    Este enlace va a expirar en {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Saludos
</p>
