<div id="etiquetas-selector" class="mx-4 font-semibold">
    <p class="block m-4 leading-10 required">
        Etiquetas
    </p>
    <div id="etiquetas-seleccionadas"></div>
    <input id="etiqueta-nueva" class="border-2 rounded shadow border-gray-700 p-2 w-full"/>
    <button type="button" class="p-2 border shadow bg-gray-50 m-2 hover:bg-gray-200 focus:outline-none disabled:opacity-50" disabled>
        Agregar etiqueta
    </button>
</div>