{% extends 'base.html.twig' %}

{% block title %}Listado de etiquetas{% endblock %}

{% block body %}
<div class="container mx-auto my-4">
    <h1 class="text-4xl leading-10 text-green-900 font-light p-4">
        Listado de etiquetas
    </h1>
</div>

<div class="mx-auto container">
    <table class="table w-full">
        <thead class="table-header-group">
            <tr class="table-row">
                <th class="table-cell border p-2">Nombre</th>
                <th class="table-cell border p-2">Acciones</th>
            </tr>
        </thead>
        <tbody class="table-row-group">
        {% for etiqueta in etiquetas %}
            <tr class="table-row">
                <td class="table-cell border p-2">
                    <a class="text-blue-400 font-bold" href="{{ path('etiqueta_show', {'id': etiqueta.id}) }}">
                        {{ etiqueta.nombre }}
                    </a>
                </td>
                <td class="table-cell border p-2">
                    <a class="text-blue-400 font-bold" href="{{ path('etiqueta_edit', {'id': etiqueta.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr class='table-row'>
                <td colspan="3" class="table-cell border p-2 text-2xl font-extralight text-red-700">
                    No hay etiquetas aún
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
